@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    font-family: 'Inter-Regular', system-ui, -apple-system, sans-serif;
  }
}

@layer utilities {
  .font-lovelo {
    font-family: 'LoveloBlack', system-ui, sans-serif;
    text-transform: uppercase;
  }
  
  .font-montserrat {
    font-family: 'MontserratAlternates-Medium', system-ui, sans-serif;
  }
  
  .font-inter {
    font-family: 'Inter-Regular', system-ui, sans-serif;
  }
}